.card {
    width: 550px;
    overflow: hidden;
    height: 750px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
    position: relative; /* Position relative for absolute positioning of the close icon */
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px; /* Position the close icon in the top right corner */
    cursor: pointer; /* Change cursor on hover */
}

.heading {
    font-size: 32px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px; /* Space below heading */
    color: #333333;
   
}

.inputField {
    height: 56px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 12px; /* Padding for input */
    margin-bottom: 20px; /* Space between input fields */
}

.passwordField {
    position: relative; /* Position relative for absolute positioning of the eye icon */
}

.eyeIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 32px; /* Position the eye icon inside the password field */
    top: 14px; /* Center vertically in the input field */
    cursor: pointer; /* Change cursor on hover */
}

.errorMessage{
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: red;
}

.signUpButton {
    height: 56px;
    width: 100%;
    background-color: #111111;
    color: white;
    border: none;
    font-size: 18px;
    border-radius:50px;
    cursor: pointer; /* Change cursor on hover */
    margin-top: 40px; /* Space above button */
    margin-bottom: 40px;
}

.signInText {
    text-align: center; /* Center the sign-in text */
    margin-top: 20px; /* Space above sign-in text */
}

.signInLink {
    color: #111111; /* Link color */
    text-decoration: underline; /* Remove underline */
    font-weight: bold;
}

.signInLinkk:hover {
    text-decoration: underline; /* Underline on hover */
}

.inputFieldWrapper{
    margin-top: 50px;
}

.inputName{
    color: #666666;
    font-size: 16px;
}