* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Top Banner */
.top-banner {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.top-banner a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 5px;
}

.close-banner {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 90px;
}

.logo {
  font-size: 2.8em;
  font-family: "pattaya";
  /* position: relative; */
  left: 81px;
  font-weight: 500;
}
.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  /* position: relative; */
  right: 100px;
  top: 3px;
  margin-left: 40px;
  margin-right: 200px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-family: poppins;
  font-weight: 400;
}

.nav-links a:hover {
  color: #000;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 20px;
  flex-grow: 1;
  /* max-width: 360px; */
  height: 44px;
  margin: 0 20px;
}

.search-bar input {
  border: none;
  background: none;
  outline: none;
  flex-grow: 1;
  padding: 10px 25px;
  font-size: 1em;
}

.search-icon {
  color: #aaa;
  /* position: absolute; */
  font-size: 1.2em;
}

.icons {
  display: flex;
  gap: 15px;
  align-items: center;
  /* position: relative; */
  right: 180px;
}
.icon {
  position: relative;
  font-size: 1.5em;
  color: #333;
}

.icon .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 0.5em;
}

/* Breadcrumb */
.breadcrumb-section {
  padding: 20px;
  font-size: 14px;
  position: relative;
  margin-right: 190px;

  margin-left: 85px;
  /* left: 19px; */
  margin-bottom: 15px;
  border-bottom: 1px solid #0000001a;
}

.breadcrumb a {
  color: #777;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}
.product-count {
  position: relative;
  top: 15px;
  left: 100px;
  width: 20%;
}
/* Cart Container */
.cart-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 1000px;
  width: 90%;
  position: relative;
  left: 40px;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #0000001f;
}

/* Product List */
.product-list {
  background-color: #fff;
  padding: 20px;
  height: 800px;
  overflow-y: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-details {
  margin-left: 30px;
}
/* Hide borders */
.product-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 8px;
}
.product-item {
  position: relative;
}

.offer-popup {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  /* transform: translateX(-50%); */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 70px 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 8px;
  text-align: left;
}

.offer-popup p {
  margin: 8px 0;
  margin-top: 5px;
}
span.offer-image {
  position: relative;
  top: 7px;
}
.offer-popup strong {
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #008557;
}
.offer-popup button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.offer-popup button:hover {
  background-color: #333;
}

/*second pop */

.offer-popup-two {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  /* transform: translateX(-50%); */
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 70px 10px 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 8px;
  text-align: left;
}

.offer-popup-two p {
  margin: 8px 0;
  margin-top: 5px;
}
span.offer-image {
  position: relative;
  top: 7px;
}
.offer-popup-two strong {
  border-bottom: 1px solid #000;
  margin-bottom: 15px;
  padding-bottom: 5px;
  color: #008557;
}
.offer-popup-two button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.offer-popup-two button:hover {
  background-color: #333;
}

.product-details h3 {
  font-size: 16px;
  position: relative;
  top: -18px;
  letter-spacing: 1px;
  font-family: poppins;
  font-weight: 400;
}

.product-details p {
  font-size: 13px;
  font-weight: 400;
  position: relative;
  top: -10px;
  text-align: left;
  color: #6a6a6a;
  margin-bottom: 10px;
}
.product-actions {
  position: relative;
}
.product-actions img {
  display: flex;
  gap: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 300px;
  top: -74px;
  padding: 2px;
  margin-left: 20px;
  margin-right: 20px;
}
.product-details .price {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.product-details .offer {
  color: green;
  font-size: 14px;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}
wishlist-icon {
  width: 20px;
  height: 20px;
  display: flex;
  gap: 20px;
}
.quantity {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 7px;
  font-size: 13px;
}

.qty-btn {
  background-color: #000;
  color: #fff;

  border-radius: 50%;
  cursor: pointer;
  width: 28px;
  height: 28px;
  text-align: center;
  font-size: 20px;
}
/*  scrollbar */

.product-list {
  scrollbar-width: thin; /* Make scrollbar thin */
  scrollbar-color: #55555544 transparent; /* Thumb color, Track color */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.product-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 350px;
}

.product-list::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

.product-list::-webkit-scrollbar-thumb {
  background-color: #555; /* Color of the scrollbar thumb */
  border-radius: 50%; /* Rounded corners */
}

.order-summary {
  /* position: relative; */
  left: 172px;

  height: 526px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #0000001e;
  max-width: 30%;
  width: 30%;
  height: 580px;
}
.order-summary h3 {
  font-family: poppins;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: poppins;
  font-weight: 400;
  color: #00000099;
}

.discount {
  color: #e63946;
}

.offers-applied {
  color: green;
  font-size: 14px;
  margin-bottom: 250px;
  cursor: pointer;
}

.total {
  font-weight: 400;
  font-size: 20px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  color: #000;
}

.congrats-message {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: left;
  color: #008557;
}

.checkout-btn {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  position: relative;
}

.footer {
  background-color: #f1f1f1;
  padding: 40px 20px;
  color: #333;
  font-size: 14px;
  height: 400px;
  font-family: "poppins";
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 50px 140px;
  flex-wrap: wrap;
}

.footer-brand {
  flex: 1;
  max-width: 300px;
}

.footer-brand h2 {
  font-size: 2.8em;
  font-family: "pattaya";

  font-weight: 500;
  margin-bottom: 10px;
}

.footer-brand p {
  margin: 25px 0 20px;
}
S .social-icons a {
  color: #333;
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
}

.footer-links {
  display: flex;
  flex: 2;
  margin-left: 20px;
  justify-content: space-around;
}

.footer-column h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: poppins;
  font-weight: 500;
  line-height: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 16px;
}

.footer-column ul li a {
  color: #333;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto 0;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
  color: #333;
}

.payment-icons img {
  width: 46px;
  margin-right: 10px;
  height: 35px;
}
.pop{
  position: relative;
}

/* Modal styles */
.modal {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
    z-index: 1000;
  /* left: 0;
  top: 0; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  /* position: absolute;
  top: 590px;
  right: 2px; */
  /* transform: translate(-50%, -50%); */
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 457px;
  height: 380px;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-content h4 {
  color: green;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #0000002e;
  padding-bottom: 10px;
}

.modal-content ul {

  list-style-type: none;
}

.modal-content li {
  margin-bottom: 25px;
 
}

.total-discount {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-weight: bold;
  border-top: 1px solid #0000002e;
  padding: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}